<!DOCTYPE html>
<html>
<head>
  <title>Nicholas Horton - Web Platformer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="nhorton">
  <div id="content-wrapper">
    <div class="page-content">
      <%= yield %>
    </div>
  </div>
  </footer>
</body>
</html>
